<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<h1>Create MC Question</h1>
<h2>Quiz: <spaan th:text="${quiz.title}"></spaan></h2>
<form action="/admin/createQuestion" method="post" id="form" th:object="${mcQuestion}">
    <input type="hidden" name="qid" th:value="${quiz.id}">
    <input type="hidden" name="qtype" th:value="${questionType}">
    <label>Question:</label>
    <input type="text" th:field="*{question}"><br>
    <button id="addOpBtn">Add Option</button>
    <br>
    <div id="options">
        
    </div>
    <div id="answer">
        <p>Correct answer:</p>
    </div>
    <input id="submitBtn" type="submit" value="Submit">
</form>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>

<script>
    const options = $('#options')
    const btn = $('#addOpBtn')
    const answer = $('#answer')
    let index = 1
    btn.on('click', (e) =>{
        e.preventDefault()
        let optionInput = 'Option ' + index + ' <input type="text" name="op"><br>'
        options.append(optionInput)
        let radio = index + ' <input type="radio" name="answer" value="@">'
        radio = radio.replace(/@/g, index)
        answer.append(radio)
        index = index + 1
    })

    const submit = $('#submitBtn')

</script>
</body>
</html>