<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/admin/createQuiz" method="post" th:object="${quiz}">
    <label>Quiz's Title</label>
    <input type="text" th:field="*{title}"><br>
    <label>Time</label>
    <input type="text" th:field="*{time}"><br>
    <label>Total Score</label>
    <input type="text" th:field="*{totalScore}"><br>
    <input type="submit" value="Create new Quiz">
</form>

</body>
</html>