<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3 th:text="${quiz.title}"></h3>
<p>Time: <span th:text="${quiz.time}"></span> seconds</p>
<p>Total Score: <span th:text="${quiz.totalScore}"></span></p>
<p>Questions:</p>
<div>
    <ul>
        <li th:each="question : ${quiz.selectQuestions}">
            <p th:text="${question.question}"></p>
            <div th:each="op, state : ${question.options}">
                <input disabled type="checkbox" th:name="'selectQuestion' + ${question.id}" th:value="${op.id}"
                th:checked="${#strings.contains(question.answer, op.id)}">

                <span th:text="${alphabet[state.index]} + '. '"></span><span th:text="${op.option}"></span>
                <br>
            </div>
            <a th:href="'/editMcQuestion?qid=' + ${question.id}">Edit</a>
        </li>

        <li th:each="question : ${quiz.mcQuestions}">
            <p th:text="${question.question}"></p>
            <div th:each="op, state : ${question.options}">
                <input disabled type="radio" th:name="'mcQuestion' + ${question.id}" th:value="${op.id}" th:checked="${question.correctAnswer == op.id}">

                <span th:text="${alphabet[state.index]} + '. '"></span><span th:text="${op.option}"></span>
                <br>
            </div>
            <a th:href="'/editMcQuestion?qid=' + ${question.id}">Edit</a>
        </li>
    </ul>

    <p style="color: red" th:if="${quiz.mcQuestions.isEmpty() and quiz.selectQuestions.isEmpty()}">There's no question!</p>
</div>
<a th:href="'/admin/selectQuestionType?qid=' + ${quiz.id}">Add question</a>


</body>
</html>