<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<h3>List of quiz:</h3>
<ul th:if="${not quizList.isEmpty()}">
    <li th:each="quiz : ${quizList}">
        <a th:href="'/admin/quiz/' + ${quiz.id}" th:text="${quiz.title}"></a><br>
        <small>Time: <span th:text="${quiz.time}"></span> seconds</small><br>
        <small>Total Score: <span th:text="${quiz.totalScore}"></span></small><br>
        <small>Number of questions: <span th:text="${quiz.mcQuestions.size() + quiz.selectQuestions.size()}"></span></small>
    </li>
</ul>
<p th:if="${quizList.isEmpty()}">There's no quiz!</p>

</body>
</html>